/* form btn */
$green: #2a7b87;
@mixin formBtn($a: $green) {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: $a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .1),
  inset 0 1px 0 rgba(255, 255, 255, .25), inset 0 -1px 0 rgba(0, 0, 0, .15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.form-save {
  width: 150px;
  margin: 30px auto;
  font-size: 18px;
  line-height: 2;
  background-color: $green;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
